.detail-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 4rem);
}

.image-container {
    flex: 3;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    z-index: -2;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%);
    z-index: -1;
  }

.content-container {
    flex: 7;
    position: relative;
}

p {
    line-height: 2.5rem;
    color: #444;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.date-container {
    display: flex;
    flex-direction: row;
}

.date-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.form_container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10rem;
}