{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
{{ hotel.name }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static '\base_app\css\details.css' %}">
{% endblock head %}

{% block content %}
<div class="detail-container">
    <div class="image-container" style="background-image: url({{ hotel.description_image.url }});"></div>
    <div class="content-container">
        <h1>{{ hotel.name }}</h1>
        <p>{{ hotel.description }}</p>
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <div class="date-container">
                    <div>
                        <label for="check_in">Check In Date</label>
                        <input type="date" name="check_in">
                    </div>
                    <div>
                        <label for="check_out">Check Out Date</label>
                        <input type="date" name="check_out">
                    </div>
                </div>
                <input type="submit" value="Book" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock content %}