<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
       <input type="text" name="user" required="user">
       <input type="text" name="hotel" required="hotel">
       <input type="datetime-local" name="booked_on" required="booked_on">
       <input type="datetime-local" name="checked_out_on" required="checked_out_on">
       <button>BOOK_NOW</button>
    </form>
</body>
</html>